body {
    background-color: rgb(233, 240, 245); 
    font-family: Arial, sans-serif;
  }
 .container {
    background: rgb(255, 255, 255); 
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
